<div class="form-div">
    <div class="headline">
        <h2>Log in</h2>
        <div class="blueline"></div>
    </div>

    <form action="">
        <div class="input-field">
            <div class="input-wrapper">
                <input 
                    type="text" 
                    placeholder="Email">
                <i class="icon-mail"></i>
            </div>
            <div class="input-wrapper">
                <input 
                    [type]="showPassword ? 'text' : 'password'"
                    placeholder="Password"
                    (focus)="inputInFocus = true"
                    (blur)="inputInFocus = false">
                <i
                    [class.icon-lock]="!inputInFocus"
                    [class.icon-visibility-off]="inputInFocus && !showPassword"
                    [class.icon-visibility]="inputInFocus && showPassword"
                    (click)="togglePassword()"
                ></i>
            </div>
            
        </div>
        <div class="buttons">
            <app-black-button title="Log in"></app-black-button>
            <app-white-button title="Guest log in"></app-white-button>
        </div>
    </form>
</div>