<section>
<div class="contact-details" [class.visible]="isVisible" (click)="closeEditMenuMobile()">
    <div class="detail-top">
        <div class="circle" [style.background-color]="contact.color">
            {{ contact.avatar }}
        </div>
        <div class="top-right">
            <h3 [ngStyle]="{ 'font-size': getFontSize(contact.name) }">{{ contact.name }}</h3>

            <div class="buttons">
                <button class="button-edit">
                    <div class="icon-edit"></div>
                    <span (click)="openEditForm()">Edit</span>
                </button>
                <button class="button-delete" (click)="deleteContact(contact.id)">
                    <div class="icon-delete"></div>
                    <span>Delete</span>
                </button>
            </div>
        </div>
    </div>
    <h4>Contact Information</h4>
    <div class="details">
        <h5>Email</h5>
        <span class="mail">{{contact.email}}</span>
        <h5>Phone</h5>
        <span class="phone">{{contact.phone}}</span>
    </div>
</div>
<div id="mobile-edit-btn" (click)="changeEditMenuMobile()">
    <img src="assets/icons/mobile-edit-menu-btn.png" alt="" />
</div>
<!-- @if (isEditVisible) { -->
    <div id="mobile-edit-overlay" [class.visible]="isEditVisible">
        <div (click)="openEditForm()" (click)="changeEditMenuMobile()">
            <div class="icon-edit"></div>
            <span>Edit</span>
        </div>
        <div (click)="deleteContact(contact.id)" (click)="changeEditMenuMobile()">
            <div class="icon-delete"></div>
            <span>Delete</span>
        </div>
    </div>
<!-- } -->
</section>