<section [class.visible]="isVisible">
    <div *ngIf="isVisible" @slideInFromRight>
        <div>
            <img src="/assets/images/logo/small-logo-white.svg" alt="Logo">
            <h2>Add contact</h2>
            <p>Tasks are better with a team!</p>
            <span></span>
        </div>
        <div>
            <div>
                <div>
                    <img src="/assets/icons/person.svg" alt="Avatar">
                </div>
            </div>
            <div>
                <div>
                    <span (click)="closeForm()" class="icon icon-close"></span>
                </div>
                <form>
                    <div>
                        <app-input #nameInput placeHolder="Name" inputId="name"></app-input>
                        <app-input #emailInput placeHolder="Email" inputId="email" type="email"></app-input>
                        <app-input #phoneInput placeHolder="Phone" inputId="phone"></app-input>
                    </div>
                    <div>
                        <app-white-button title="Cancel" icon="icon-close"></app-white-button>
                        <app-black-button title="Create contact" icon="icon-check" type="submit" iconFontSize="18px" (click)="createContact()"></app-black-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>