<section [class.visible]="isVisible" (mousedown)="closeForm()">
    <div *ngIf="isVisible" @slideInFromRight (mousedown)="$event.stopPropagation();closeAllFormList()">
        <h1>Add Task</h1>
        <div class="icon icon-close" (click)="closeForm()"></div>
        <app-task-form #taskForm (taskAdded)="showNotificationAndCloseForm()" (formCancelled)="closeForm()"
            (mousedown)="$event.stopPropagation();"></app-task-form>
    </div>
    <app-add-task-notification #addTaskNotification></app-add-task-notification>
</section>