section {
    height: 100dvh;
    width: 100%;
    position: fixed;
    background-color: #f6f7f8;

    .login-screen-animation {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(2);
        z-index: 9999;
        transition: all 1s ease;

        &.animate {
            transform: translate(0px, 0px) scale(1);
            top: 60px;
            left: 80px;

            @media (max-width: 560px) {
                top: 20px;
                left: 20px;
            }
        }

        img {
            width: 100px;
            height: 120px;

            @media (max-width: 800px) {
                width: 64px;
                height: 80px;
            }
        }
    }

    .content {
        width: 100%;
        height: 100dvh;
        max-width: 1920px;
        padding: 60px 80px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        opacity: 0;
        transition: opacity 1.5s ease;

        &.fade-in {
            opacity: 1;
        }

        @media (max-width: 560px) {
            padding: 20px;
        }

        .login-top {
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-size: 20px;

            img {
                width: 100px;
                height: 120px;

                @media (max-width: 800px) {
                    width: 64px;
                    height: 80px;
                }
            }

            .logo-top-img {
                visibility: hidden;

                &.visible {
                    visibility: visible;
                }
            }

            .top-right {
                display: flex;
                gap: 35px;
                align-items: center;

                @media (max-width: 800px) {
                    display: none;
                }
            }
        }

        .login-center {
            display: flex;
            justify-content: center;
        }

        .top-right-mobile {
            display: flex;
            justify-content: center;
            gap: 35px;
            align-items: center;

            @media (min-width: 800px) {
                display: none;
            }
        }

        .login-bottom {
            display: flex;
            justify-content: center;

            .links {
                display: flex;
                gap: 50px;

                a {
                    color: #A8A8A8;
                    font-size: 16px;

                    &:hover {
                        color: #29ABE2;
                        font-weight: bold;
                    }
                }

            }
        }
    }
}