<section [class.visible]="isVisible" (click)="closeForm()">
    <div *ngIf="isVisible" @slideInFromRight (click)="$event.stopPropagation()">
        <div>
            <img src="/assets/images/logo/small-logo-white.svg" alt="Logo">
            <h2>Edit contact</h2>
            <span></span>
        </div>
        <div>
            <div>
                <div [ngStyle]="{'background-color': '#FF7A00'}">
                    <span>{{ getContactInitials(contactFormData.name) }}</span>
                </div>
            </div>
            <div>
                <div>
                    <span (click)="closeForm()" class="icon icon-close"></span>
                </div>
                <form (ngSubmit)="editContact(editContactForm)" #editContactForm="ngForm">
                    <div>
                        <label class="form-label" for="name">
                            <input [class.error]="!name.valid && (name.touched || editContactForm.submitted)" #name="ngModel" type="text" placeholder="Name" id="name" name="name" [(ngModel)]="contactFormData.name" trimOnBlur pattern="^[A-Za-zäöüÄÖÜß\-]+ [A-Za-zäöüÄÖÜß\-]+$" required>
                            <span *ngIf="!name.valid && (name.touched || editContactForm.submitted)">Please enter name & surname.</span>
                        </label>

                        <label class="form-label" for="email">
                            <input [class.error]="!email.valid && (email.touched || editContactForm.submitted)" #email="ngModel" type="email" placeholder="Email" id="email" name="email" [(ngModel)]="contactFormData.email" trimOnBlur pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required>
                            <span *ngIf="!email.valid && (email.touched || editContactForm.submitted)">Please enter a valid email address.</span>
                        </label>

                        <label class="form-label" for="phone">
                            <input [class.error]="!phone.valid && (phone.touched || editContactForm.submitted)" #phone="ngModel" type="tel" placeholder="Phone" id="phone" name="phone" [(ngModel)]="contactFormData.phone" trimOnBlur pattern="^\+?[0-9 -]*$" required>
                            <span *ngIf="!phone.valid && (phone.touched || editContactForm.submitted)">Please enter a valid phone number.</span>
                        </label>
                    </div>
                    <div>
                        <app-white-button title="Delete" padding="15px 25px" (click)="deleteContact(contactFormData.id ?? '')"></app-white-button>
                        <app-black-button title="Save" icon="icon-check" type="submit"></app-black-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>