<div class="task-card">
    <div class="category" [style.background]="categoryData?.color || '#0038FF'">
        <span>{{ categoryData?.title || 'Unbekannt'}}</span>
    </div>
    <div class="description">
        <h4>{{ task.title }}</h4>
        <span>{{ task.description }}</span>
    </div>
    <div class="progression"> <!-- TO-DO: if-condition when there is more than 1 subtask 🦆 -->
        <div>Progressbar</div>
        <div>1/2 Subtasks</div>
    </div>
    <div class="overview">
        <div class="user-icons">
            @for (user of assignedContacts; track user.id) {
                <div class="user-circle" [style.background]="user.color">
                    {{ user.avatar }}
                </div>
            }
            @if (remainingUsers > 0) {
                <div class="user-circle extra">
                    +{{ remainingUsers }}
                </div>
            }
        </div>
        @if (priorityData){
            <div [class]="priorityData.icon" [style.color]="priorityData.color"></div>
        }
    </div>
</div>