<div class="task-card">
    <div class="category">
        <span>{{ task.category }}</span>
    </div>
    <div class="description">
        <h4>{{ task.title }}</h4>
        <span>{{ task.description }}</span>
    </div>
    <div class="progression"> <!-- TO-DO: if-condition when there is more than 1 subtask 🦆 -->
        <div>Progressbar</div>
        <div>1/2 Subtasks</div>
    </div>
    <div class="overview">
        <div>{{ task.users }}</div>
        <div>{{ task.priority }}</div>
    </div>
</div>