<div class="task-card">
    <div class="category">
        <span>User Story</span>
    </div>
    <div class="description">
        <h4>Kochwelt Page & Recipe Recommender</h4>
        <span>Build start page with recipe recommendation ...</span>
    </div>
    <div class="progression"> <!-- TO-DO: if-condition when there is more than 1 subtask 🦆 -->
        <div>Progressbar</div>
        <div>1/2 Subtasks</div>
    </div>
    <div class="overview">
        <div>AM EM MB</div>
        <div>=</div>
    </div>
</div>