<section>
    <div id="summary-header">
        <h3>Join 360</h3>
        <div class="blue-hyphen"></div>
        <span>Key Metrics at a Glance</span>
    </div>
    <div> 
        <div>
            <div>
                <div>
                    <div class="icon-note"></div>
                    <div>
                        <span>1</span> <!-- TO-DO: dynamic render of amount of array-length -->
                        <span>To-do</span>
                    </div>
                </div>
                <div>
                    <div class="icon-check"></div>
                    <div>
                        <span>1</span> <!-- TO-DO: dynamic render of amount of array-length -->
                        <span>Done</span>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="icon-urgent"></div>
                    <div>
                        <span>1</span> <!-- TO-DO: dynamic render of amount of urgent tasks -->
                        <span>Urgent</span>
                    </div>
                </div>
                <div class="grey-hyphen"></div>
                <div>
                    <span>October 16, 2022</span> <!-- TO-DO: dynamic render of next deadline -->
                    <span>Upcoming Deadline</span>
                </div>
            </div>
            <div>
                <div>
                    <span>5</span> <!-- TO-DO: dynamic render of array.length -->
                    <span>Tasks in Board</span>
                </div>
                <div>
                    <span>2</span> <!-- TO-DO: dynamic render of array.length -->
                    <span>Tasks In Progress</span>
                </div>
                <div>
                    <span>2</span> <!-- TO-DO: dynamic render of array.length -->
                    <span>Awaiting Feedback</span>
                </div>
            </div>
        </div>
        <div id="greeting">
            <span>Good morning!</span> <!-- TO-DO: if(guest login) -->
            <div> <!-- TO-DO: if(login with username) -->
                <span>Good morning,</span> 
                <span id="username">Sofia Müller</span>
            </div>
        </div>
    </div>
</section>