<section [class.visible]="isTaskVisible">
    <div *ngIf="isVisible" @slideInFromRight>
        <div class="top-card">
            <div class="task-name" [style.background]="task.category">
                <span>{{ task.category }}</span>
            </div>
            <button (click)="closeTaskDetails()" class="icon icon-close"></button>
        </div>
        <h2>{{ task.title }}</h2>
        <span>{{task.description }}</span>
        <div class="task-date">
            <span>Due date:</span>
            <span>{{ task.date }}</span>
        </div>
        <div class="task-priority">
            <span>Priority:</span>
            <span>{{ task.priority }}</span>
        </div>
        <span class="title">Assigned To:</span>
        @for (user of task.users; track task.id) {
            <div class="task-worker">
                <div class="circle">MN</div>
                <span>Manuel Neuer</span>
            </div>
        }
        <span class="title">Subtasks</span>
        @for (subtask of task.subtasks; track task.id) {
            <div class="subtask">
                <input type="checkbox">
                <span>hier könnte ihre Aufgabe stehen</span>
            </div>
        }
        <div class="task-buttons">
            <button>
                <div class="icon-delete"></div>
                <span>Delete</span>
            </button>
            <button>
                <div class="icon-edit"></div>
                <span>Edit</span>
            </button>
        </div>
    </div>
</section>