<form (keydown.enter)="$event.preventDefault()" (ngSubmit)="submitForm(taskForm)" #taskForm="ngForm">
    <div>
        <div>
            <label class="form-label" for="title">
                <span class="label">Title<span>*</span></span>
                <input #title="ngModel" type="text" id="title" name="title" placeholder="Enter a title"
                    [(ngModel)]="taskData.title" [class.error]="!title.valid && (title.touched || taskForm.submitted)"
                    trimOnBlur required>
                <span *ngIf="!title.valid && (title.touched || taskForm.submitted)">This field is required</span>
            </label>

            <label class="form-label" for="description">
                <span class="label">Description</span>
                <textarea name="description" id="description" placeholder="Enter a description"
                    [(ngModel)]="taskData.description" trimOnBlur></textarea>
            </label>

            <label class="form-label" for="date">
                <span class="label">Due date<span>*</span></span>
                <mat-form-field class="custom-date-field"
                    [class.error]="!date.valid && (date.touched || taskForm.submitted)">
                    <input #date="ngModel" matInput [matDatepicker]="picker" [min]="minDate" placeholder="dd/mm/yyyy"
                        name="date" [(ngModel)]="momentDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <span *ngIf="!date.valid && (date.touched || taskForm.submitted)">This field is required</span>
            </label>
        </div>
        <div></div>
        <div>
            <label (click)="$event.stopPropagation()" class="form-label" for="priority">
                <span class="label">Priority</span>
                <div>
                    @for (priority of getPriorities(); track priority.id) {
                    <label for="{{priority.title}}">
                        <div>{{priority.title}} <span class="icon" [className]="priority.icon"></span></div>
                        <input type="radio" name="priority" [value]="priority.id" [id]="priority.title"
                            [(ngModel)]="taskData.priority">
                    </label>
                    }
                </div>
            </label>

            <label (click)="$event.stopPropagation()" [class.opened-list]="isContactListOpen"
                class="form-label select-contact" [class.open]="isContactListOpen">
                <span class="label">Assigned to</span>
                <input type="text" name="contact" [(ngModel)]="searchContactInput"
                    [placeholder]="isContactListOpen ? '' : 'Select contacts to assign'"
                    [value]="isContactListOpen ? searchContactInput : ''"
                    (click)="isContactListOpen = !isContactListOpen">

                <div [class.visible]="isContactListOpen" class="contact-list">
                    <div *ngIf="isContactListOpen" @slideInFromTop>
                        @for (contact of getContacts(); track contact.id) {
                        <label>
                            <div>
                                <div [ngStyle]="{'background-color': contact.color}">
                                    {{ contact.avatar }}
                                </div>
                                <div>{{ contact.name }}</div>
                            </div>
                            <div>
                                <div>
                                    <input type="checkbox" [name]="'contactChecked'+contact.id"
                                        [(ngModel)]="contact.checked">
                                </div>
                            </div>
                        </label>
                        }
                    </div>
                </div>

                <div *ngIf="getSelectedContacts().length > 0" class="contact-avatars">
                    @for (contact of getSelectedContacts(); track contact.id) {
                    <div [ngStyle]="{'background-color': contact.color}">
                        <span>{{ contact.avatar }}</span>
                    </div>
                    }
                </div>
            </label>

            <label (click)="$event.stopPropagation()" [class.opened-list]="isCategoryListOpen" class="form-label select-category"
                [class.open]="isCategoryListOpen">
                <span class="label">Category<span>*</span></span>
                <input type="text" name="categoryTitle" [(ngModel)]="categoryTitle"
                    [class.error]="!categoryId.valid && (categoryId.touched || taskForm.submitted)"
                    [placeholder]="isCategoryListOpen ? '' : 'Select task category'"
                    (click)="isCategoryListOpen = !isCategoryListOpen" required readonly>
                <input type="hidden" #categoryId="ngModel" name="categoryId" [(ngModel)]="taskData.category" required>

                <div [class.visible]="isCategoryListOpen" class="category-list">
                    <div *ngIf="isCategoryListOpen" @slideInFromTop>
                        @for (category of getCategories(); track category.id) {
                        <label>
                            <div>{{ category.title }}</div>
                            <input type="radio" name="category" [value]="category.id"
                                (click)="categoryTitle=category.title;taskData.category=category.id;isCategoryListOpen=false;">
                        </label>
                        }
                    </div>
                </div>
                <span *ngIf="!categoryId.valid && (categoryId.touched || taskForm.submitted)">This field is
                    required</span>
            </label>

            <label class="form-label subtasks">
                <span class="label">Subtasks</span>
                <input type="text" id="subtask" name="subtask" placeholder="Add new subtask" [(ngModel)]="subtaskTitle"
                    trimOnBlur (keydown.enter)="addSubtask()">
                <div>
                    <span *ngIf="subtaskTitle === ''" class="icon icon-add"></span>
                    <div *ngIf="subtaskTitle != ''" class="icon-with-separate">
                        <span class="icon icon-close" (click)="subtaskTitle = ''"></span>
                        <span class="separate">|</span>
                        <span class="icon icon-check" (click)="addSubtask()"></span>
                    </div>
                </div>
                <ul>
                    @for (subtask of subtasks; track $index) {
                    <li [class.editable]="subtask.edit">
                        <div class="no-input" *ngIf="subtask.edit === false">
                            {{subtask.title}}
                            <div class="icon-with-separate">
                                <span class="icon icon-edit" (click)="subtask.edit = true"></span>
                                <span class="separate">|</span>
                                <span class="icon icon-delete" (click)="deleteSubtask($index)"></span>
                            </div>
                        </div>

                        <div class="with-input" *ngIf="subtask.edit === true">
                            <input type="text" [name]="'subtask'+$index" [(ngModel)]="subtask.title"
                                (keydown.enter)="subtask.edit = false">
                            <div class="icon-with-separate">
                                <span class="icon icon-delete" (click)="deleteSubtask($index)"></span>
                                <span class="separate">|</span>
                                <span class="icon icon-check" (click)="subtask.edit = false"></span>
                            </div>
                        </div>
                    </li>
                    }
                </ul>
            </label>
        </div>
    </div>
    <div [ngStyle]="{'background-color': bottomSectionBackground}">
        <div>
            <span>*</span>
            This field is required
        </div>
        <div>
            <app-white-button title="Cancel" icon="icon-close" (click)="cancelForm(taskForm)"></app-white-button>
            <app-black-button title="Create Task" icon="icon-check" type="submit" iconFontSize="18px"
                (click)="$event.stopPropagation()"></app-black-button>
        </div>
    </div>
</form>