div {
    width: 100%;
    height: 100dvh;
}

.login-screen {
    z-index: 20000;

    // display: none;
}

app-header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.contentRestriction {
    height: 100dvh;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 8px;
        /* Width of vertical scrollbar */
        height: 8px;
        /* Height of horizontal scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: #f0f0f0;
        /* Track background */
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #A8A8A8;
        /* Thumb color */
        border-radius: 10px;
        border: 2px solid #f0f0f0;
        /* Optional space around thumb */
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #888;
        /* Darker on hover */
    }
}