<section>
  <div class="sidebar-top">
    <img src="assets/images/favicon-white.png" alt="join-logo" />
        <div id="menu">
            <a routerLink="/summary" routerLinkActive="active">
                <!-- TO-DO: routerLink zu Summary -->
                <img
                src="assets/icons/icon-summary.png"
                alt="summary-icon"
                class="default-icom"
                />
                <img
                src="assets/icons/icon-summary-active.png"
                alt="active-summary-icon"
                class="active-icon"
                />
                <span>Summary</span>
            </a>

            <a routerLink="/add-task" routerLinkActive="active">
                <!-- TO-DO: routerLink zu Add Task -->
                <img src="assets/icons/icon-add.png" alt="add-task-icon" />
                <img
                src="assets/icons/icon-add-active.png"
                alt="active-add-icon"
                class="active-icon"
                />
                <span>Add Task</span>
            </a>

            <a routerLink="/board" routerLinkActive="active">
                <!-- TO-DO: routerLink zu Board -->
                <img src="assets/icons/icon-board.png" alt="baord-icon" />
                <img
                src="assets/icons/icon-board-active.png"
                alt="active-board-icon"
                class="active-icon"
                />
                <span>Board</span>
            </a>

            <a routerLink="/contacts" routerLinkActive="active">
                <!-- TO-DO: routerLink zu Contacts -->
                <img src="assets/icons/icon-contacts.png" alt="contacts-icon" />
                <img
                src="assets/icons/icon-contacts-active.png"
                alt="active-contatcs-icon"
                class="active-icon"
                />
                <span>Contacts</span>
            </a>
        </div>
    </div>
    <div id="policies">
        <a href="">
        <!-- TO-DO: routerLink zu Privacy Policy -->
        <span>Privacy Policy</span>
        </a>
        <a href="">
        <!-- TO-DO: routerLink zu Legal Notice -->
        <span>Legal Notice</span>
        </a>
    </div>
</section>
