section {
    width: 232px;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 64px 0px;

    background: #2A3647;

    .sidebar-top {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 100px;

        width: 100%;

        >img {
            width: 100px;
            height: 122px;
        }
    }

    #menu {
        

        .menulinks {
            display: flex;
            flex-direction: column;
            width: auto;
            gap: 15px;
        }

        .headerlink {
            width: 100%;
            display: flex;
            justify-content: flex-start;
        }

        a {
            height: 46px;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            cursor: pointer;

            .default-icon {
                display: flex;
            }

            .active-icon {
                display: none;
            }

            span {
                font-family: 'Inter';
                font-weight: 400;
                font-size: 16px;
                color: #CDCDCD;
            }

            &.active {
                background: #091931;

                .default-icon {
                    display: none;
                }

                .active-icon {
                    display: flex;
                }

                span {
                    color: #FFFFFF;
                }
            }

            &:hover {
                background: #2A3D59;
            }
        }
    }

    #policies {
        display: flex;
        flex-direction: column;
        gap: 16px;

        a {
            span {
                font-family: 'Inter';
                font-weight: 400;
                font-size: 16px;
                color: #CDCDCD;

                &:hover {
                    _font-weight: 700; // TO-DO: font 700 einfügen
                    color: #29ABE2;
                }
            }
        }
    }
}