@import '../../styles.scss';

.content {
    display: flex;

    .contactlist {
        height: 100%;
        max-height: calc(100dvh - 96px);
        width: 30%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        z-index: 2;
        box-shadow: 5px 1px 1px rgba(202, 202, 202, 0.171);
        border-top: solid 2px rgba(202, 202, 202, 0.171);
        padding: 30px 0px 10px 0px;

        @media (max-width: 1470px) {
            width: 50%;
        }

        @media (max-width: 945px) {
            width: 100%;
            padding-left: 30px;
            align-items: flex-start;
             z-index: 0;
        }

        @media (max-width: 820px) {
            padding-left: 10px;
           
        }

        @media (max-width: 411px) {
            padding-left: 0px;
        }

        .button {
            border: none;
            background-color: #2A3647;
            color: white;
            width: 352px;
            padding: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
            font-weight: bold;
            font-size: 21px;
            border-radius: 10px;

            @media (max-width: 1010px) {
                width: auto;
                padding: 16px 20px;
            }

            @media (max-width: 820px) {
                display: none;
            }

            &:hover {
                cursor: pointer;
                background-color: #29ABE2;
                box-shadow: 0px 5px 0px rgba(202, 202, 202, 0.555);
            }

            img {
                height: 20px;
                width: 30px;
            }
        }

        .list {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            overflow-y: auto;
            padding-left: 30px;

            @media (max-width: 1010px) {
                padding-left: 0px;
            }

            .contact {
                display: flex;
                justify-content: flex-start;
               
                width: 100%;
                border-radius: 10px;
                  padding: 32px 24px;

                @media (max-width: 400px) {
                    flex-direction: column;
                    gap: 10px;
                      padding: 20px 10px;

                }

                .contact-mb {
                  
                    display: flex;
                    justify-content: flex-start;
                    gap: 35px;
                    width: 100%;
                    border-radius: 10px;

                    @media (max-width: 400px) {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        padding-left: 10px;
                    }
                }


                &:hover {
                    background-color: #f6f7f8;
                    cursor: pointer;
                }

                .contactcircle {
                    width: 38px;
                    height: 38px;
                    background-color: orange;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-size: 12px;
                }


                .contactright {
                    display: flex;
                    flex-direction: column;

                    .name {
                        font-size: 20px;
                    }

                    .mail {
                        font-size: 16px;
                        color: #007CEE;

                        @media (max-width: 400px) {
                            display: none;
                        }


                    }


                }

            }

            .mail-mb {
                font-size: 16px;
                color: #007CEE;
                padding-left: 10px;

                @media (min-width: 400px) {
                    display: none;
                    
                }

            }
        }

        .show-info {
            position: absolute;
            bottom: 120px;
            right: 40px;
            z-index: 4;
            background-color: #2A3647;
            padding: 12px;
            border-radius: 50%;
            height: 56px;
            width: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 2px 5px rgb(75, 75, 75);

            @media (min-width: 820px) {
                display: none;
            }

            @media (max-width: 640px) {
                bottom: 80px;
                right: 14px;
            }

            img {
                height: 20px;
                width: 30px;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .list::-webkit-scrollbar {
            width: 6px;
        }

        .list::-webkit-scrollbar-track {
            background: white;
            border-radius: 10px;
        }

        .list::-webkit-scrollbar-thumb {
            background-color: #A8A8A8;
            border-radius: 3px;
            background-clip: content-box;
            min-height: 53px;
        }

    }

    .contactlist::-webkit-scrollbar {
        width: 12px;
    }

    .contactlist::-webkit-scrollbar {
        width: 6px; // This controls the thumb's horizontal width
    }

    .contactlist::-webkit-scrollbar-track {
        background: #f0f0f0; // Track color
        border-radius: 10px;
    }

    .contactlist::-webkit-scrollbar-thumb {
        background-color: #A8A8A8;
        border-radius: 3px;
        padding: 5px; // Gives background room to breathe
        background-clip: content-box;
    }


    .contactinfo {
        background-color: #f6f7f8;
        height: auto;
        width: 70%;
        z-index: 0;
        display: flex;
        flex-direction: column;
        padding: 80px 40px;
        gap: 40px;
        position: relative;
        transition: transform 300ms ease, opacity 300ms ease;

        @media (max-width: 945px) {
            position: fixed;
            top: 96px;
            left: 232px;
            width: calc(100% - 232px);
            height: calc(100vh - 96px);
            z-index: 100;
            transform: translateX(100%);
            opacity: 0;
            pointer-events: none;

            &.visible {
                transform: translateX(0);
                opacity: 1;
                pointer-events: auto;
            }
        }

        @media (max-width: 820px){
            left: 0;
            width: 100%;
            height: calc(100vh - 96px - 96px);
        }

        @media (max-width: 640px){
            top: 80px;
            height: calc(100vh - 80px - 80px);
        }

        .headline {
            display: flex;
            align-items: center;
            gap: 30px;

            @media (max-width: 1110px) {
                flex-direction: column;
                gap: 10px;
                align-items: flex-start;
            }

            .blueline {
                background-color: #29ABE2;
                width: 3px;
                height: 59px;
                border-radius: 3px;

                @media (max-width: 1200px) {
                    height: 38px;
                }

                @media (max-width: 1110px) {
                    display: none;
                }
            }

            .blueline-mb {
                background-color: #29ABE2;
                height: 3px;
                width: 90px;

                @media (min-width: 1110px) {
                    display: none;
                }
            }

            .bluespan {
                display: flex;
                align-items: center;
            }

            span {
                font-size: 27px;
                display: flex;
                align-items: center;

                @media (max-width: 1200px) {
                    font-size: 20px;
                }

            }
        }

        .goback {
            position: absolute;
            display: none;
            z-index: 20;
            top: 50px;
            right: 50px;

            @media (max-width: 945px) {
                display: flex;
            }

            &:hover {
                cursor: pointer;
            }
        }

        #mobile-edit-btn {
            position: absolute; 
            bottom: 28px;
            right: 14px; 

            display: none; 
            justify-content: center;
            align-items: center;

            width: 56px; 
            height: 56px;

            border: 1px solid #2A3647;
            border-radius: 100%;

            background: #2A3647;

            box-shadow: 0 4px 4px #00000040;

            cursor: pointer;

            @media (max-width: 640px) {
                display: flex;
            }

            &:active {
                background: #29ABE2;
                border: 1px solid #29ABE2;
            }
        }

        #mobile-edit-overlay {
            position: absolute; 
            bottom: 14px;
            right: 14px;
            width: 116px;
            height: 100px;
            padding: 10px;

            display: none; 
            flex-direction: column; 
            justify-content: center;
            align-items: start;

            background: white;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;

            box-shadow: 0 4px 4px #00000040;

            @media (max-width: 640px) {
                display: flex;
            }

            div {
                display: flex; 
                align-items: center;
                width: 100%;
                gap: 8px;
                padding: 8px;
                cursor: pointer;

                &:active {
                    color: #29ABE2;
                    font-weight: bold;
                    background: #ededed;
                    border-radius: 8px;

                    #edit-img {
                        background: url(../../../public/assets/icons/icon-edit-blue.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                    }
                    #delete-img {
                        background: url(../../../public/assets/icons/icon-delete-blue.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                    }
                }

                #edit-img {
                    width: 24px;
                    height: 24px;
                    background: url(../../../public/assets/icons/icon-edit.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }

                #delete-img {
                    width: 24px;
                    height: 24px;
                    background: url(../../../public/assets/icons/icon-delete.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }
            }
        }
    }

}