<section id="contacts">
  <div class="content">
    <div class="contactlist">
      <app-black-button (click)="openCreateContactForm()" title="Add new contact" icon="icon-person-add"
        padding="9px 80px 13px" iconFontSize="30px">
      </app-black-button>


      <div class="list">
        @for (initial of uniqueInitials; track $index) {
        <div class="letter-header">
          <span class="letter">{{ initial }}</span>
        <div class="greyunderline"></div>
        </div>

        @for (contact of getContactsByInitial(initial); track contact.id) {
        <div (click)="showContactDetails(contact)" class="contact" [ngStyle]="{ 'background-color': selectedContact === contact ? '#2A3647' : '' }">
          <div class="contact-mb">
            <div class="contactcircle" [ngStyle]="{ 'background-color': getBgColorForCircle(contact.name) }">
              {{ getContactInitials(contact.name) }}
            </div>
            <div class="contactright">
              <span class="name" [ngStyle]="{ 'color': selectedContact === contact ? 'white' : '' }">{{ contact.name }}</span>
              <span class="mail">{{ contact.email }}</span>
            </div>
          </div>
          <span class="mail-mb">{{ contact.email }}</span>
        </div>
        }
        }
        <!-- @for (item of firebaseService.contactsList; track $index) {
        <div (click)="showContactDetails(item)" class="contact">
          <div class="contact-mb">
            <div class="contactcircle" [ngStyle]="{ 'background-color': getBgColorForCircle(item.name) }">{{ getContactInitials(item.name) }}</div>
            <div class="contactright">
              <span class="name">{{ item.name }}</span>
              <span class="mail">{{ item.email }}</span>
            </div>
          </div>
          <span class="mail-mb">{{ item.email }}</span>
        </div>
        } -->
      </div>


      <div (click)="openCreateContactForm()" class="show-info">
        <img src="assets/icons/icon-add-person.png" alt="" />
      </div>
    </div>

    <!-- CONTACT INFO AREA: always visible on desktop, overlay below 945px -->

    <div class="contactinfo" [class.visible]="isOverlayActive || isDetailsVisible">
      <div class="goback">
        <img *ngIf="!isOverlayActive" (click)="closeOverlay()" src="assets/icons/icon-go-back.png" alt="Go back" />
      </div>

      <div class="headline" *ngIf="!isOverlayActive">
        <h2>Contacts</h2>
        <div class="blueline"></div>
        <span>Better with a team</span>
        <div class="blueline-mb"></div>
      </div>

      <!-- Contact Details Component -->
      <app-contact-details [contact]="selectedContact" [isVisible]="isDetailsVisible || isOverlayActive"
        (openEditContactForm)="openEditContactForm(selectedContact.id)"
        (contactDeleted)="showDeleteContactNotification()"></app-contact-details>

      <!-- Go Back image: only for mobile overlay -->

      <div id="mobile-edit-btn" (click)="openEditMenuMobile()">
        <img src="assets/icons/mobile-edit-menu-btn.png" alt="" />
      </div>

      @if (isEditVisible) {
      <div id="mobile-edit-overlay">
        <div>
          <div id="edit-img"></div>
          <!-- TO-DO: function to open EditContactForm -->
          <span>Edit</span>
        </div>
        <div>
          <div id="delete-img"></div>
          <span>Delete</span>
        </div>
      </div>
      }
    </div>

    <!-- Create Contact Component -->
    <app-create-contact #createContact (contactCreated)="showCreateContactNotification()"></app-create-contact>

    <!-- Edit Contact Component -->
    <app-edit-contact #editContact (contactUpdated)="showUpdateContactNotification()" (contactDeleted)="showDeleteContactNotification()"></app-edit-contact>

    <!-- Contact page notification Component -->
    <app-contact-page-notification #contactPageNotification></app-contact-page-notification>
  </div>
</section>