<div class="form-div">
    <img src="assets/icons/icon-go-back.png" alt="" (click)="triggerGoBack()">

    <div class="headline">
        <h2>Sign up</h2>
        <div class="blueline"></div>
    </div>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="input-field">
            <input type="text" placeholder="Name" formControlName="name">
            <div *ngIf="signupForm.controls['name'].errors?.['fullName'] && signupForm.controls['name'].touched"
                class="error-msg">
                Please enter your full name.
            </div>

            <input type="email" placeholder="Email" formControlName="email">
            <div *ngIf="signupForm.controls['email'].errors?.['strictEmail'] && signupForm.controls['email'].touched"
                class="error-msg">
                Please enter a valid email address.
            </div>


            <input type="password" placeholder="Password" formControlName="password">
            <input type="password" placeholder="Confirm password" formControlName="confirmPassword">
        </div>

        <div *ngIf="signupForm.errors?.['mismatch']" class="error-msg">
            Passwords do not match. Please try again.
        </div>

        <div class="check">
            <input type="checkbox" formControlName="privacyPolicy">
            <span>I accept the privacy policy</span>
        </div>

        <div class="buttons">
            <button type="submit" [disabled]="signupForm.invalid">Sign up</button>
        </div>
    </form>
</div>