<div class="form-div">
    <img src="assets/icons/icon-go-back.png" alt=""  (click)="triggerGoBack()">
    <div class="headline">
        <h2>Sign up</h2>
        <div class="blueline"></div>
    </div>

    <form action="">
        <div class="input-field">
            
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Password">
            <input type="text" placeholder="Confirm password">
        </div>
        <div class="check">
            <input type="checkbox" name="" id="">
            <span>I accept the privacy policy</span>
        </div>
        <div class="buttons">
            <app-black-button title="Sign up"></app-black-button>
        </div>
    </form>
</div>