<section>
    <div class="content">
        <div class="login-top">
            <img src="assets/images/logo/logo-dark-big.png" alt="">
            <div class="top-right">
                <span>Not a Join user?</span>
                <app-black-button title="Sign up"></app-black-button>
            </div>
        </div>

        <div class="login-center">
            <app-login-form></app-login-form>
        </div>
        <div class="login-bottom">
            <div class="links">
                <a href="" class="link">Privacy Policy</a>
                <a href="" class="link">Legal notice</a>
            </div>
        </div>
    </div>
</section>