@use 'styles/variables' as *;

section {
    >div.container {
        width: 100%;
        max-width: 1290px;
        padding: 60px 100px;

        @media (max-width:1250px) {
            padding: 40px 20px;
        }

        @media (max-width:820px) {
            margin-bottom: 50px;
            padding: 20px 20px 0;
        }

        >h1 {
            font-weight: 700;
            font-size: 61px;
            margin-bottom: 50px;

            @media (max-width:640px) {
                font-size: 50px;
            }
        }
    }
}