<section>

    <div class="content">
        <div class="board-header">
            <h2>Board</h2>
            <div>
                <div id="input-area">
                    <input type="text" placeholder="Find Task"> <!-- TO-DO: placeholder needs align-center -->
                    <div id="grey-line"></div>
                    <div class="icon-search"></div> <!-- TO-DO: hover & active? & padding -->
                </div>
                <div>
                    <app-black-button [title]="showTitle ? 'Add task' : ''" icon="icon-add" [padding]="buttonPadding"
                        iconFontSize="21px"></app-black-button> <!-- TO-DO: icon-add needs align-center -->
                </div>
            </div>
        </div>

        <div class="search-mobile">
            <div class="input-area-mobile">
                <input type="text" placeholder="Find Task"> <!-- TO-DO: placeholder needs align-center -->
                <div id="grey-line"></div>
                <div class="icon-search"></div> <!-- TO-DO: hover & active? & padding -->
            </div>
        </div>


        <div class="lists">
            <div class="headline">
                <span>To do</span>
                <div class="icon-add"></div>
            </div>
            <div class="task-area" cdkDropList [cdkDropListData]="getTaskByStatus('to-do')" (cdkDropListDropped)="onTaskDrop($event, 'to-do')" [cdkDropListConnectedTo]="['inProgressList', 'awaitFeedbackList', 'doneList']" id="toDoList">
                @for (task of getTaskByStatus('to-do'); track task.id) {
                    <div cdkDrag [cdkDragData]="task">
                        <app-task-card [task]="task" [categories]="categories" (click)="showTaskDetails(task)"></app-task-card>
                    </div>
                }
                @if (getTaskByStatus('to-do').length === 0) {
                    <div class="no-tasks">No tasks To do</div>
                }
            </div>
        </div>
        <div class="column">
            <div>
                <span>In progress</span>
                <div class="icon-add"></div>
            </div>
            <div class="task-area" cdkDropList [cdkDropListData]="getTaskByStatus('in-progress')" (cdkDropListDropped)="onTaskDrop($event, 'in-progress')" [cdkDropListConnectedTo]="['toDoList', 'awaitFeedbackList', 'doneList']" id="inProgressList">
                @for (task of getTaskByStatus('in-progress'); track task.id) {
                    <div cdkDrag [cdkDragData]="task">
                        <app-task-card [task]="task" [categories]="categories" (click)="showTaskDetails(task)"></app-task-card>
                    </div>
                }
                @if (getTaskByStatus('in-progress').length === 0) {
                    <div class="no-tasks">No tasks In progress</div>
                }
            </div>
        </div>
        <div class="column">
            <div>
                <span>Await feedback</span>
                <div class="icon-add"></div>
            </div>

            <div class="task-area" cdkDropList [cdkDropListData]="getTaskByStatus('await-feedback')" (cdkDropListDropped)="onTaskDrop($event, 'await-feedback')" [cdkDropListConnectedTo]="['inProgressList', 'toDoList', 'doneList']" id="awaitFeedbackList">
                @for (task of getTaskByStatus('await-feedback'); track task.id) {
                    <div cdkDrag [cdkDragData]="task">
                        <app-task-card [task]="task" [categories]="categories" (click)="showTaskDetails(task)"></app-task-card>
                    </div>
                }
                @if (getTaskByStatus('await-feedback').length === 0) {
                    <div class="no-tasks">No tasks Await feedback</div>
                }
            </div>
        </div>
        <div class="column">
            <div>
                <span>Done</span>
                <div class="icon-add"></div>
            </div>
            <div class="task-area" cdkDropList [cdkDropListData]="getTaskByStatus('done')" (cdkDropListDropped)="onTaskDrop($event, 'done')" [cdkDropListConnectedTo]="['inProgressList', 'awaitFeedbackList', 'toDoList']" id="doneList">
                @for (task of getTaskByStatus('done'); track task.id) {
                    <div cdkDrag [cdkDragData]="task">
                        <app-task-card [task]="task" [categories]="categories" (click)="showTaskDetails(task)"></app-task-card>
                    </div>
                }
                @if (getTaskByStatus('done').length === 0) {
                    <div class="no-tasks">No tasks Done</div>
                }

                <app-task [isVisible]="isTaskVisible" (closed)="onTaskClosed()"></app-task>

            </div>
        </div>
    </div>
</section>