<section>
    <div class="board-header">
        <h2>Board</h2>
        <div>
            <label for="" id="input-area">
                <input type="text" placeholder="Find Task" [formControl]="searchControl">
                <div id="grey-line"></div>
                <div class="icon-search"></div>
            </label>
            <div>
                <app-black-button (click)="handleAddTaskClick(TaskStatus.ToDo)" [title]="showTitle ? 'Add task' : ''" icon="icon-add" [padding]="buttonPadding"
                    iconFontSize="21px"></app-black-button> <!-- TO-DO: icon-add needs align-center -->
            </div>
        </div>
    </div>

    <div class="search-mobile">
        <label class="input-area-mobile">
            <input type="text" placeholder="Find Task" [formControl]="searchControl"> <!-- TO-DO: placeholder needs align-center -->
            <div id="grey-line"></div>
            <div class="icon-search"></div> 
        </label>
    </div>

    <div class="lists">
        <div class="list-columns">

            <div class="column">
                <div class="headline-responsive">
                    <span>To do</span>
                    <div class="icon-add" (click)="handleAddTaskClick(TaskStatus.ToDo)"></div>
                </div>

                <div class="task-area" cdkDropList [cdkDropListData]="getTaskByStatus(TaskStatus.ToDo)"
                    (cdkDropListDropped)="onTaskDrop($event, TaskStatus.ToDo)"
                    [cdkDropListConnectedTo]="['inProgressList', 'awaitFeedbackList', 'doneList']" id="toDoList">

                    @for (task of getTaskByStatus(TaskStatus.ToDo); track task.id) {
                        <div cdkDrag [cdkDragData]="task" (click)="openTaskDetails(task)">
                            <app-task-card [task]="task" [categories]="categories" [contacts]="contacts"
                                [priorities]="priorities" [isMobile]="isMobile" (openMoveSheet)="openMoveTaskMenu($event)"></app-task-card>
                        </div>
                    }

                    @if (getTaskByStatus(TaskStatus.ToDo).length === 0) {
                        <div class="no-tasks">No tasks To do</div>
                    }
                </div>
            </div>

            <div class="column">
                <div class="headline-responsive">
                    <span>In progress</span>
                    <div class="icon-add" (click)="handleAddTaskClick(TaskStatus.InProgress)"></div>
                </div>
                <div class="task-area" cdkDropList [cdkDropListData]="getTaskByStatus(TaskStatus.InProgress)"
                    (cdkDropListDropped)="onTaskDrop($event, TaskStatus.InProgress)"
                    [cdkDropListConnectedTo]="['toDoList', 'awaitFeedbackList', 'doneList']" id="inProgressList">

                    @for (task of getTaskByStatus(TaskStatus.InProgress); track task.id) {

                        <div cdkDrag [cdkDragData]="task" (click)="openTaskDetails(task)">
                            <app-task-card [task]="task" [categories]="categories" [contacts]="contacts"
                                [priorities]="priorities" [isMobile]="isMobile" (openMoveSheet)="openMoveTaskMenu($event)"></app-task-card>
                        </div>
                    }

                    @if (getTaskByStatus(TaskStatus.InProgress).length === 0) {
                        <div class="no-tasks">No tasks In progress</div>
                    }
                </div>
            </div>

            <div class="column">
                <div class="headline-responsive">
                    <span>Await feedback</span>
                    <div class="icon-add" (click)="handleAddTaskClick(TaskStatus.AwaitFeedback)"></div>
                </div>

                <div class="task-area" cdkDropList [cdkDropListData]="getTaskByStatus(TaskStatus.AwaitFeedback)"
                    (cdkDropListDropped)="onTaskDrop($event, TaskStatus.AwaitFeedback)"
                    [cdkDropListConnectedTo]="['inProgressList', 'toDoList', 'doneList']" id="awaitFeedbackList">
                    @for (task of getTaskByStatus(TaskStatus.AwaitFeedback); track task.id) {

                        <div cdkDrag [cdkDragData]="task" (click)="openTaskDetails(task)">
                            <app-task-card [task]="task" [categories]="categories" [contacts]="contacts"
                                [priorities]="priorities" [isMobile]="isMobile" (openMoveSheet)="openMoveTaskMenu($event)"></app-task-card>
                        </div>
                    }
                    @if (getTaskByStatus(TaskStatus.AwaitFeedback).length === 0) {
                        <div class="no-tasks">No tasks Await feedback</div>
                    }
                </div>
            </div>

            <div class="column">
                <div class="headline-responsive">
                    <span>Done</span>
                </div>
                <div class="task-area" cdkDropList [cdkDropListData]="getTaskByStatus(TaskStatus.Done)"
                    (cdkDropListDropped)="onTaskDrop($event, TaskStatus.Done)"
                    [cdkDropListConnectedTo]="['inProgressList', 'awaitFeedbackList', 'toDoList']" id="doneList">
                    @for (task of getTaskByStatus(TaskStatus.Done); track task.id) {

                        <div cdkDrag [cdkDragData]="task" (click)="openTaskDetails(task)">
                            <app-task-card [task]="task" [categories]="categories" [contacts]="contacts"
                                [priorities]="priorities" [isMobile]="isMobile" (openMoveSheet)="openMoveTaskMenu($event)"></app-task-card>
                        </div>
                    }
                    @if (getTaskByStatus(TaskStatus.Done).length === 0) {
                        <div class="no-tasks">No tasks Done</div>
                    }
                </div>
            </div>
        </div>
        <app-task *ngIf="selectedTask" [categories]="categories" [contacts]="contacts" [priorities]="priorities" [task]="selectedTask!"
                    [isVisible]="isTaskDetailsVisible" (closed)="closeOverlay()" (taskDeleted)="handleTaskDeleted()"></app-task>
    </div>

    <app-add-task #addTaskOverlay></app-add-task>
</section>