<section>
    <div id="board-header">
        <h2>Board</h2>
        <div>
            <div id="input-area">
                <input type="text" placeholder="Find Task"> <!-- TO-DO: placeholder needs align-center -->
                <div id="grey-line"></div>
                <div class="icon-search"></div> <!-- TO-DO: hover & active? & padding -->
            </div>
            <div>
                <app-black-button [title]="showTitle ? 'Add task' : ''" icon="icon-add" [padding]="buttonPadding" iconFontSize="21px"></app-black-button> <!-- TO-DO: icon-add needs align-center -->
            </div>
        </div>
    </div>
    <div id="mobile-input">   
        <div id="mobile-input-area">
            <input type="text" placeholder="Find Task"> <!-- TO-DO: placeholder needs align-center -->
            <div id="grey-line"></div>
            <div class="icon-search"></div> <!-- TO-DO: hover & active? & padding -->
        </div>
    </div>
    <div id="lists">
        <div class="column">
            <div>
                <span>To do</span>
                <div class="icon-add"></div>
            </div>
            <div class="task-area">
                <div class="no-tasks">No tasks To do</div> <!-- TO-DO: if-condition, whenn array is empty -->
            </div>
        </div>
        <div class="column">
            <div>
                <span>In progress</span>
                <div class="icon-add"></div>
            </div>
            <div class="task-area">
                <!--  <div>No tasks In progress</div> TO-DO: if-condition, whenn array is empty -->
                <app-task-card></app-task-card>
            </div>
        </div>
        <div class="column">
            <div>
                <span>Await feedback</span>
                <div class="icon-add"></div>
            </div>
            <div class="task-area">
                <!-- <div>No tasks Await feedback</div> TO-DO: if-condition, whenn array is empty -->
                <app-task-card></app-task-card>
                <app-task-card></app-task-card>
            </div>
        </div>
        <div class="column">
            <div>
                <span>Done</span>
                <div class="icon-add"></div>
            </div>
            <div class="task-area">
                <!-- <div>No tasks Done</div> TO-DO: if-condition, whenn array is empty -->
                <app-task-card></app-task-card>
            </div>
        </div>
        <app-task [isVisible]="isTaskVisible" [task]="selectedTask" (closed)="onTaskClosed()"></app-task>
        <!-- (click)="showTaskDetails(task)" -->
    </div>
</section>