<section>
    <header>
        <div class="contentRestriction">
            <div id="header-content">
                <span>Kanban Project Management Tool</span>
                <img src="assets/images/favoicon-dark.png" alt="favoicon">
                @if(userLoggedIn) {
                <div>
                    <a routerLink="/help" routerLinkActive="active">
                        <img src="assets/icons/help.png" alt="help-center">
                    </a>
                    <div id="user" (click)="toggleMenu()">
                        <span>{{ userAvatar }}</span>
                    </div>
                </div>
                }
                @if (showMenu) {
                <div id="user-menu">
                    <ul>
                        @if (isMobile) {
                        <li><a routerLink="/help" routerLinkActive="active">Help</a></li>
                        }
                        <li (click)="toggleMenu()"><a routerLink="/legal-notice">Legal Notice</a></li>
                        <li (click)="toggleMenu()"><a routerLink="/privacy-policy">Privacy Policy</a></li>
                        <li (click)="toggleMenu();logoutUser()"><a href="#">Log Out</a></li>
                    </ul>
                </div>
                }
            </div>
        </div>
    </header>
</section>