@use 'styles/icons' as *;

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/inter/Inter-VariableFont_opsz_wght.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/inter/Inter-Italic-VariableFont_opsz_wght.ttf");
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
}