<section>
    <div>
        <h2>Contacts</h2>
        <span>Better with a team</span>
        <div>blaue Linie uwu</div>
    </div>
    <div>
        <div>
            <span>AM</span>
        </div>
        <h3>Anton Mayer</h3>
    </div>
    <div>
        <h4>Contact Information</h4>
        <span>Email</span>
        <span>antom(at)gmail.com</span>
        <span>Phone</span>
        <span>+49 1111 111 11 1</span>
    </div>
    <button><b>-></b></button>
    <button>...</button>
    <div></div>
</section>