<section id="contactDeatils">
<div class="contact-details" [class.visible]="isVisible">
    <div class="detail-top">
        <div class="circle">
            XX
        </div>
        <div class="top-right">
            <h3>Anton Mayer</h3>
            <div class="buttons">
                <button class="button-edit">
                    <div class="icon-edit"></div>
                    <span>Edit</span>
                </button>
                <button class="button-delete">
                    <div class="icon-delete"></div>
                    <span>Delete</span>
                </button>
            </div>
        </div>
    </div>
    <h4>Contact Information</h4>
    <div class="details">
        <h5>Email</h5>
        <span class="mail">beispielmail&amp;example.com</span>
        <h5>Phone</h5>
        <span class="phone">+49 000000000</span>
    </div>
</div>
</section>