@use 'styles/variables' as *;

 button {
            border: none;
            background-color: #2A3647;
            color: white;
            width: 352px;
            padding: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
            font-weight: bold;
            font-size: 21px;
            border-radius: 10px;

            @media (max-width: 1010px) {
                width: auto;
                padding: 16px 20px;
            }

            @media (max-width: 820px) {
                display: none;
            }

            &:hover {
                cursor: pointer;
                background-color: #29ABE2;
                box-shadow: 0px 5px 0px rgba(202, 202, 202, 0.555);
            }

            img {
                height: 20px;
                width: 30px;
            }
        }