<section [class.visible]="isVisible" (mousedown)="closeForm()">
    <div *ngIf="isVisible" @slideInFromRight (mousedown)="$event.stopPropagation()">
        <div>
            <img src="/assets/images/logo/small-logo-white.svg" alt="Logo">
            <h2>Add contact</h2>
            <p>Tasks are better with a team!</p>
            <span></span>
        </div>
        <div>
            <div>
                <div>
                    <img src="/assets/icons/person.svg" alt="Avatar">
                </div>
            </div>
            <div>
                <div>
                    <span (click)="closeForm()" class="icon icon-close"></span>
                </div>
                <form (ngSubmit)="createContact(createContactForm)" #createContactForm="ngForm">
                    <div>
                        <label class="form-label" for="name">
                           
                            <input [class.error]="!name.valid && (name.touched || createContactForm.submitted)"
                                #name="ngModel" type="text" placeholder="Name" id="name" name="name"
                                [(ngModel)]="contactFormData.name" trimOnBlur
                                pattern="^([A-Za-zäöüÄÖÜß\-]+)( [A-Za-zäöüÄÖÜß\-]+)+$" required>

                            <span *ngIf="!name.valid && (name.touched || createContactForm.submitted)">Please enter name
                                & surname.</span>
                        </label>

                        <label class="form-label" for="email">
                            <input [class.error]="!email.valid && (email.touched || createContactForm.submitted)"
                                #email="ngModel" type="email" placeholder="Email" id="email" name="email"
                                [(ngModel)]="contactFormData.email" trimOnBlur
                                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required>
                            <span *ngIf="!email.valid && (email.touched || createContactForm.submitted)">Please enter a
                                valid email address.</span>
                        </label>

                        <label class="form-label" for="phone">
                            <input [class.error]="!phone.valid && (phone.touched || createContactForm.submitted)"
                                #phone="ngModel" type="tel" placeholder="Phone" id="phone" name="phone"
                                [(ngModel)]="contactFormData.phone" trimOnBlur pattern="^\+?[0-9 -]*$" required>
                            <span *ngIf="!phone.valid && (phone.touched || createContactForm.submitted)">Please enter a
                                valid phone number.</span>
                        </label>
                    </div>
                    <div>
                        <app-white-button title="Cancel" icon="icon-close"
                            (click)="cancelForm(createContactForm)"></app-white-button>
                        <app-black-button title="Create contact" icon="icon-check" type="submit"
                            iconFontSize="18px"></app-black-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>